body {
  color: black;
  margin: 50px;
  width: 1440px;
  text-align: center;
  background-color: #DAEAF1;
  font-family: 'Outfit', sans-serif;
}

p {
  font-size: 15px;
  font-weight: 700;
  color: #EA2C62;
}
img {
  width: 100%;
  border-radius: 4%;
}

.main-canvas {
  width: 18%;
  margin: auto;
  padding: 8px;
  background-color: white;
  border-radius: 4%;
}

.lower-guide {
  font-weight: 400;
  font-size: 11px;
  color: grey;
}
